{% extends 'base.html.twig' %}
{% import '@Pagination/Pagination/macro.twig' as macro_pagination %}
{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="card clearfix">
                <div class="header">
                    <h2>
                        Les auteurs
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ url('admin_auteur_new') }}" class=" waves-effect waves-block">Ajouter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body clearfix">
                    <form class="form-inline">
                        <input class="form-control" placeholder="Nom, prénom" value="{{ app.request.get('search') }}" name="search"/> <button type="submit" class="btn btn-info">Go !</button>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Livres associés</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for auteur in pagination.entities %}
                            <tr>
                                <td>{{ auteur.nom|upper }}</td>
                                <td>{{ auteur.prenom }}</td>
                                <td>{{ auteur.livres|length }}</td>
                                <td>
                                            <a href="{{ path('admin_auteur_edit', { 'id': auteur.id }) }}" class="btn btn-sm btn-primary">modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ macro_pagination.paginate(pagination) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
